<!DOCTYPE html>
<html ng-app="menasApp">
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Men against sexism</title>
  </head>
  <body ng-controller="menasController">

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
    {% script "/assets/angularjs/angular.min.js" %}
    {% script "/assets/angularjs/angular-resource.js" %}
    {% script "/js/menas.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
