{% extends "base.html" %}
{% block content %}

<br/><br/>

<div>
    <table width="90%">
        <tr>
            <td width="70%">
                <div>
                    <input placeholder="Title" type="text" ng-model="newMena.title" value="Title"/><br/>
                    <textarea placeholder="Type your message" maxlength="140" rows="4" cols="80" ng-model="newMena.body"></textarea>
                    <br/>
                    <span>Support <input type="checkbox" ng-model="addCategorySupport"/></span>
                    <span>Opinion <input type="checkbox" ng-model="addCategoryOpinion"/></span>
                    <span>Event <input type="checkbox" ng-model="addCategoryEvent"/></span>
                    | Tags <input type="text" maxlength="64" ng-model="addTags">
                    <button ng-click="submitMena()">Fight!</button>
                </div>
            </td>

            <td width="30%">
                <table>
                    <tr>
                        <td>User</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" ng-model="tokenInput">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="login()">Login</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


<br/><br/>

<div>
    <div ng-repeat="mena in menas" ng-model="menas">
        <h3><span ng-bind="mena.title"></span> | <span ng-bind="mena.categories">  | <span ng-bind="mena.tags"> | <span ng-bind="mena.user-id"></span></h3>
        <p><span ng-bind="mena.body"></span></p>
        <hr/>
    </div>
</div>

{% endblock %}
