{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview" ng-repeat="mena in menas" ng-model="menas">
                <a href="post.html">
                    <h2 class="post-title" ng-bind="mena.title"></h2>
                    <h3 class="post-subtitle" ng-bind="mena.body"></h3>
                </a>
                <p class="post-meta">Posted by <a href="#" ng-bind="mena.userId"></a> on
                    <span ng-bind="mena.createdOn"></span>
                    <br/>
                    <span ng-bind="mena.tags"></span> |
                    <span ng-bind="mena.categories"></span>
                </p>
                <hr>
            </div>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <table>
        <tr>
            <td>
                <div>
                    <input placeholder="Title" type="text" ng-model="newMena.title" value="Title"/>
                    <input placeholder="Tags" type="text" maxlength="64" ng-model="addTags">
                    <br/>
                    <textarea placeholder="Type your message" maxlength="2048" rows="10" cols="70" ng-model="newMena.body"></textarea>
                </div>
            </td>
            <td>
                <div>
                    <span class="form-label"><input type="checkbox" ng-model="addCategorySupport"/>Support</span>
                    <br/>
                    <span class="form-label"><input type="checkbox" ng-model="addCategoryOpinion"/>Opinion</span>
                    <br/>
                    <span class="form-label"><input type="checkbox" ng-model="addCategoryEvent"/>Event</span>
                    <br/>
                    <span class="form-label"><input type="checkbox" ng-model="addCategoryComplaint"/>Complaint</span>
                    <ul class="pager">
                        <li class="next">
                            <a ng-click="submitMena()">Fight!</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
