{% extends "base.html" %}
{% block content %}

<br/><br/>

<div>
  <table width="90%">
    <tr>
      <td width="50%">
        <div>
          <input placeholder="Title" type="text" ng-model="newMena.title" value="Title"/><br/>
          <textarea placeholder="Type your message" maxlength="140" rows="4" cols="50" ng-model="newMena.body"></textarea>
          <br/>
          Tags <input type="text" maxlength="64" ng-model="addTags">
          <button ng-click="submitMena()">Fight!</button>
        </div>
      </td>
      <td width="20%">
        <div>
          <span><input type="checkbox" ng-model="addCategorySupport"/>Support</span>
          <br/>
          <span><input type="checkbox" ng-model="addCategoryOpinion"/>Opinion</span>
          <br/>
          <span><input type="checkbox" ng-model="addCategoryEvent"/>Event</span>
        </div>
      </td>
      <td width="30%">
        <table>
          <tr>
            <td>User</td>
          </tr>
          <tr>
            <td>
              <input type="text" ng-model="tokenInput">
            </td>
          </tr>
          <tr>
            <td>
              <button ng-click="login()">Login</button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>


<br/><br/>

<div>
    <div ng-repeat="mena in menas" ng-model="menas">
        <div>
            <span>
                <strong>
                    <span ng-bind="mena.title"></span>
                </strong> |
                <span ng-bind="mena.categories"></span>
                <span ng-bind="mena.createdOn"></span>
                <span ng-bind="mena.userId"></span>
            </span>
        </div>
        <p><span ng-bind="mena.body"></span></p>
        <hr/>
    </div>
</div>

{% endblock %}
